torch>=2.4.0
transformers>=4.41.1
sentence-transformers>=3.0.1
tqdm>=4.66.4
configparser>=7.0.0
pytorch_lightning>=2.3.3
gitpython>=3.1.43
rouge_score
sacrebleu>=2.4.2
accelerate>=0.30.1
trl>=0.8.6
evaluate>=0.4.2
nltk>=3.8.1
peft>=0.11.1
rouge-score>=0.1.2
groq>=0.9.0
SPARQLWrapper>=2.0.0
datasets>=2.20.0
faiss-cpu>=1.8.0
evaluate>=0.4.0
scikit-learn >=0.24.1
configparser>=0.0.0
numpy>=1.20.1
pandas>=1.2.3